<html>
    <head>
            <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-auth.js"></script>  
            <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-database.js"></script>
            <script>
                var firebaseConfig = {
    apiKey: "AIzaSyByYiKYnOPzfBmnqyV6GJkm8195W18RDnE",
    authDomain: "rentalapp-9000a.firebaseapp.com",
    databaseURL: "https://rentalapp-9000a.firebaseio.com",
    projectId: "rentalapp-9000a",
    storageBucket: "",
    messagingSenderId: "1046705702543",
    appId: "1:1046705702543:web:04df2846056cc0dd"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
            </script>
    </head>
    <body>

        <!-- <div id="disp" onclick="getTenant()" >

        </div> -->
                <input type="button" onclick="getTenant()" value ="GetTenant">      
        <script src= "js/firebaseRent.js"></script>
    </body>
</html>