<html>
    <head>
        <style>
            .outer{
  text-align: center;
}
.outer img{
  display: inline-block;
}
            </style>
            <link rel="stylesheet" type="text/css" href="style1.css">

<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyByYiKYnOPzfBmnqyV6GJkm8195W18RDnE",
    authDomain: "rentalapp-9000a.firebaseapp.com",
    databaseURL: "https://rentalapp-9000a.firebaseio.com",
    projectId: "rentalapp-9000a",
    storageBucket: "",
    messagingSenderId: "1046705702543",
    appId: "1:1046705702543:web:04df2846056cc0dd"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
           

    </head>
    <body background="back.jpg">
        <!-- <form action= "home" > -->
            <div class="logo">
                    <br>
                    <!-- <img src="logo.png" class="center"> -->
                  </div>
                
                 <div class="login-box">
                 <h1>Login</h1>
                 <div class="outer">
                        <img src="user.jpg"/>
                    </div>
                <button id= "Gsignin" class="btn"  name=""  onclick="signInWithGoogle()">
                        Google Sign in
                    </button>
            <!-- </form>     -->
            </div>
<!--             
                <h3 id="google-displayName"></h3>
            <img id="google-pic" src="" />
            <p id="google-email"></p> -->
                <!-- <button 
                class="btn"
                id="signout" 
                onclick="signOut()"
                style="display: none; visibility: hidden;"
                >
                Sign Out
            </button>  -->
        
        <!-- </form> -->
            <!-- <h3 id="google-displayName"></h3>
            <img id="google-pic" src="" height="42" width="42"/>
            <p id="google-email"></p> -->
       <!-- <button onclick="signInWithGoogle()">
        signInWithGoogle
       </button> -->
    <script src= "js/firebaseAuth.js"></script>
    <script src= "js/firebaseRent.js"></script>
    </body>
</html>