<!DOCTYPE html>
<html>
<head>
    <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-auth.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/6.2.2/firebase-database.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        var firebaseConfig = {
apiKey: "AIzaSyByYiKYnOPzfBmnqyV6GJkm8195W18RDnE",
authDomain: "rentalapp-9000a.firebaseapp.com",
databaseURL: "https://rentalapp-9000a.firebaseio.com",
projectId: "rentalapp-9000a",
storageBucket: "",
messagingSenderId: "1046705702543",
appId: "1:1046705702543:web:04df2846056cc0dd"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
    </script>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
<script> 
  $(document).ready(function(){
   
      var div = $("div");  
      div.animate({left: '200px'}, "slow");
      div.animate({height: "600px"});
      div.animate({textIndent: "30px"})

      div.animate({fontSize: '4em'}, "slow");
    });
  </script> 

</head>
<body>

<ul>
  <li><a class="active" href="homeScreen">Home</a></li>
  <li><a href="/AddTenant">Add Tenant</a></li>
  <li><a href="/AddBuilding">Add Flats</a></li>
  <li><a href="#" onclick="getTenant()">All Tenants</a></li>
  
  <li><a href="/EditTenant">Edit Tenant</a></li>
  <li><a href="/chat">chat</a></li>


 
</ul>
 
<div style="padding:20px;margin-top:30px;background-color:#1abc9c;">
  <div>Vermieten</div>
<!-- <img src= "Home.jpg" width="1300" height="600"> -->
   
</div>

<script src= "js/firebaseRent.js"></script>
<script type="text/javascript"> 
  function googleTranslateElementInit() { 
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element'); 
  } 
  </script> 
    
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 

</body>
</html>
